.text-center {
    text-align: center !important;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
}

  12

.form-sign {
    width: 100%;
    padding: 15px;
    margin: 0 auto;
}

.form-sign .form-control {
    padding: 7px;
  }

  .logo {
  width: 72px;
  height: 72px;
}


.bm {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 10px;
  width: 255px;
  padding: 5px;
}

.error input,
.error textarea {
  border: 1px solid red;
}

.error:first-child {
  border: 1px solid red;
}
.error:last-child{
  position: absolute;
  padding: 8px;
  color: red;
}

.valid {
    border: 1px solid green;
}

/* .form-group {
  position: relative;
} */
.red_line {
  color: red;

}
.red_border {
  border: 1px solid red;
}
